<nb-card>
  <nb-card-body>
    <button nbButton status="primary" (click)="create()"><i class="fas fa-plus mr-3"></i> Dodaj parametr</button>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <table [nbTreeGrid]="data">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columnNames"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="actions.key">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{actions.name}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <i class="fas fa-pencil-alt font-15 edit-option" (click)="edit(row.data.id)"></i>
        </td>
      </ng-container>

      <ng-container [nbTreeGridColumnDef]="active.key">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{active.name}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <button nbButton ghost shape="round" status="info" (click)="switchUnit(row)" *ngIf="row.data.active"><i class="fas fa-power-off font-15 station-active"></i></button>
          <button nbButton ghost shape="round" (click)="switchUnit(row)" *ngIf="!row.data.active"><i class="fas fa-power-off font-15 station-inactive"></i></button>

        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column.key">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column.name}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column.key] || '-'}}</td>
      </ng-container>
    </table>

  </nb-card-body>
</nb-card>
