<nb-card>
  <nb-card-header>
    Edycja parametru o ID: {{id}}
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="editUnitForm" (ngSubmit)="submit()">
      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="name">
          Nazwa
        </label>
        <input nbInput
               type="text"
               id="name"
               name="name"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="name"
               required
               [ngClass]="{'input-invalid': name.invalid && (name.dirty || name.touched)}"
               value="{{unit.name}}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="unit">
          Jednostka
        </label>
        <input nbInput
               type="text"
               id="unit"
               name="unit"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="unit"
               required
               [ngClass]="{'input-invalid': param_unit.invalid && (param_unit.dirty || param_unit.touched)}"
               value="{{unit.unit}}"
        >
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <nb-checkbox status="info" class="ml-1" formControlName="active" [checked]="unit.active"><span class="label-checkbox">Aktywny</span></nb-checkbox>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <div class="d-flex flex-row-reverse">
          <button type="submit" [disabled]="!editUnitForm.valid" nbButton hero status="success">Aktualizuj</button>
        </div>
      </div>
    </form>


  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="danger" (click)="delete()">Usuń parametr</button>
  </nb-card-footer>
</nb-card>
