<nb-card>
  <nb-card-header>
    Edycja powiadomienia o ID: {{id}}
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="editWarningForm" (ngSubmit)="submit()">
      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="unit_id">
          Parametr
        </label>
        <select
          formControlName="unit_id"
          class="form-control unit_id"
          name="unit_id"
          id="unit_id"
        >
          <option [ngValue]="null" disabled>Wybierz parametr</option>
          <option *ngFor="let option of list" [ngValue]="option.id" [selected]="option.id === warning.unit_id">
            {{option.name}} ({{option.unit}})
          </option>
        </select>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="min_value">
          Dolna dopuszczalna granica
        </label>
        <input nbInput
               type="number"
               id="min_value"
               name="min_value"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="min_value"
               required
               [ngClass]="{'input-invalid': min_value.invalid && (min_value.dirty || min_value.touched)}"
               value="{{warning.min_value}}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="max_value">
          Górna dopuszczalna granica
        </label>
        <input nbInput
               type="number"
               id="max_value"
               name="max_value"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="max_value"
               required
               [ngClass]="{'input-invalid': max_value.invalid && (max_value.dirty || max_value.touched)}"
               value="{{warning.max_value}}"
        >
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <nb-checkbox status="info" class="ml-1" formControlName="active" [checked]="warning.active"><span class="label-checkbox">Aktywne</span></nb-checkbox>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <div class="d-flex flex-row-reverse">
          <button type="submit" nbButton hero status="success">Aktualizuj</button>
        </div>
      </div>
    </form>


  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="danger" (click)="delete()">Usuń powiadomienie</button>
  </nb-card-footer>
</nb-card>
