<nb-card>
  <nb-card-header>
    Dodaj nowy parametr
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="addUnitForm" (ngSubmit)="submit()">
      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="name">
          Nazwa
        </label>
        <input nbInput
               type="text"
               id="name"
               name="name"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="name"
               required
               [ngClass]="{'input-invalid': name.invalid && (name.dirty || name.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="unit">
          Jednostka
        </label>
        <input nbInput
               type="text"
               id="unit"
               name="unit"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="unit"
               required
               [ngClass]="{'input-invalid': param_unit.invalid && (param_unit.dirty || param_unit.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <nb-checkbox status="info" class="ml-1" formControlName="active"><span class="label-checkbox">Aktywny</span></nb-checkbox>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <div class="d-flex flex-row-reverse">
          <button type="submit" [disabled]="!addUnitForm.valid" nbButton hero status="success">Utwórz</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
