<div *ngFor="let station of data">
<nb-card>
  <nb-card-header>
    Stacja #{{station.station_id}}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6" *ngFor="let measure of station.units">
        <nb-card>
          <nb-card-header>
            {{measure.set[0].label}}, obecna wartość: {{measure.set[0].data[measure.set[0].data.length - 1] || '-'}}
          </nb-card-header>
          <nb-card-body>
            <div class="flex">
              <div class="flex-item">
                <div style="display: block;">
                  <canvas baseChart width="400" height="400"
                          [datasets]="measure.set"
                          [labels]="measure.labels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
</nb-card>
</div>
