.font-15 {
  font-size: 1.5em;
}

.edit-option {
  transition: .15ms;
}
.edit-option:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.station-inactive {
  color: gray;
}

.station-active {
  color: #00ffff;
}
