<nb-card>
  <nb-card-header>
    Dodaj nowe powiadomienie
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="addWarningForm" (ngSubmit)="submit()">

      <div class="form-group col-md-8 offset-md-2">
        <nb-select
          placeholder="Wybierz parametr"
          [formControl]="unit_id"
          fullWidth
          shape="semi-round"
          required
          [ngClass]="{'input-invalid': unit_id.invalid && (unit_id.dirty || unit_id.touched)}"
        >
          <nb-option *ngFor="let option of list" value="{{option.id}}">{{option.name}} ({{option.unit}})</nb-option>
        </nb-select>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="min_value">
          Dolna dopuszczalna granica
        </label>
        <input nbInput
               type="number"
               id="min_value"
               name="min_value"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="min_value"
               required
               [ngClass]="{'input-invalid': min_value.invalid && (min_value.dirty || min_value.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="max_value">
          Górna dopuszczalna granica
        </label>
        <input nbInput
               type="number"
               id="max_value"
               name="max_value"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="max_value"
               required
               [ngClass]="{'input-invalid': max_value.invalid && (max_value.dirty || max_value.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <nb-checkbox status="info" class="ml-1" formControlName="active"><span class="label-checkbox">Aktywny</span></nb-checkbox>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <div class="d-flex flex-row-reverse">
          <button type="submit" [disabled]="!addWarningForm.valid" nbButton hero status="success">Utwórz</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
