<router-outlet></router-outlet>
<ngx-spinner
  bdOpacity = 0.9
  bdColor = "rgba(30, 30, 30, 0.8)"
  size = "medium"
  color = "#b0ede2"
  type = "ball-atom"
  [fullScreen] = "true"
>
  <p style="color: white" > Ładowanie... </p>
</ngx-spinner>
