<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div class="container-fluid position-relative p-0 m-0">
  <header>
    <main>
      <app-navbar></app-navbar>
      <section class="particles">
      </section>
      <section class="welcome">
        Lorem impsum
      </section>
    </main>
    <footer>
      <button class="btn btn-primary">Click footer</button>
    </footer>
  </header>
</div>
