.container-fluid {
  z-index: 2;
}

.particles {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.1);
  position: relative;
}
.welcome {
  background-color: green;
  height: 500px;
  width: 100%;

  clip-path: polygon(
    0 calc(100% - 5vw),
    100% 100%,
    100% 0,
    0 0
  );
}

footer {
  height: 1000px;
}