<nb-card>
  <nb-card-header>
    Dodaj nową stację badawczą
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="addStationForm" (ngSubmit)="submit()">
      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="latitude">
          Szerokość geograficzna
        </label>
        <input nbInput
               type="number"
               id="latitude"
               name="latitude"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="latitude"
               required
               [ngClass]="{'input-invalid': latitude.invalid && (latitude.dirty || latitude.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="longitude">
          Długość geograficzna
        </label>
        <input nbInput
               type="number"
               id="longitude"
               name="longitude"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="longitude"
               required
               [ngClass]="{'input-invalid': longitude.invalid && (longitude.dirty || longitude.touched)}"
        >
      </div>
      <div class="form-group col-md-8 offset-md-2">
        <label class="label" for="station_key">
          Klucz dostępu
        </label>
        <input nbInput
               type="text"
               id="station_key"
               name="station_key"
               shape="semi-round"
               fullWidth
               status="info"
               formControlName="station_key"
               required
               [ngClass]="{'input-invalid': station_key.invalid && (station_key.dirty || station_key.touched)}"
        >
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <nb-checkbox status="info" class="ml-1" formControlName="active"><span class="label-checkbox">Aktywna</span></nb-checkbox>
      </div>

      <div class="form-group col-md-8 offset-md-2">
        <div class="d-flex flex-row-reverse">
          <button type="submit" [disabled]="!addStationForm.valid" nbButton hero status="success">Utwórz</button>
        </div>
      </div>
    </form>


  </nb-card-body>
</nb-card>
