.navbar:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  border-bottom: solid 1px whitesmoke;
}

/*.navbar {
  border-bottom: solid 1px whitesmoke;

}*/
