<form [formGroup]="registerForm">
  <fieldset>
    <legend>Register 2</legend>
    <div class="form-field">
      <label>Email:</label>
      <input type="email" name="email" formControlName="email" >
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input type="password" name="password" formControlName="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary" (click)="register()">Register</button>
  </div>
</form>
